* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  max-height: 100vh;
  max-width: 100%;
  background-image: url("background.webp");
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.form-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(5px);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 100%;
}

.title-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  margin-bottom: 20px;
}

.input-group {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}

input[type="email"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  all: unset;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 0.5px solid gray;
  color: white;
  padding: 15px 0;
}

input[type="email"]:focus, input[type="password"]:focus {
  outline: none;
	border-bottom: 1px solid #3F674D
}
input[type="email"]:focus::placeholder, input[type="password"]:focus::placeholder {
	color: #3F674D;
}

input[type="email"]::placeholder, input[type="password"]::placeholder {
  color: gray;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  color: gray;
}

.options a {
	text-align: end;
}

a {
  width: 254px;
  text-decoration: none;
  color: gray;
  cursor: pointer;
}

input[type="checkbox"] {
  all: unset;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid gray;
}

button {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.register-text {
  text-decoration: none;
  color: gray;
  padding-top: 20px;
}

.register-text a {
  color: white;
}
